#richie{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:0;
   -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.r-outer-container{
  display:flex;
  justify-content: center;
}

.r-container{
  margin: 10px;
  width:372px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding-bottom: 20px;
}

.r-container:hover{
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.r-container img{
  width:372px;
  height: 208px;
  object-fit: cover;
  margin:auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.r-container .r-title{
  padding: 10px 20px 20px 20px;
  font-size: 19px;
  color: #222;
}

.r-container .r-desc{
  padding: 0px 20px 30px 20px;
  font-size: 12.5px;
  color: #555;
}


.r-container .r-anchor{
  display:flex;
  color: #3c3ced;
  text-decoration: none;
  padding: 0px 20px;
  font-weight: 600;
}

.r-container .r-anchor span{
  padding-left: 10px;
}
